**Ratchanon Tarawan 65070503464**

# Homework 2: Introducing Classification

Objectives:
- To gain hands-on experience classifying small dataset
- To implement concepts related to Decision Tree classifier (i.e. Entropy, Information Gain), along with the Decision Tree algorithm

In [48]:
import pandas as pd
import numpy as np

# Read the data
df = pd.read_csv('toy_data.csv')
df

      age  income student credit rating buys computer
0    <=30    high      no          fair            no
1    <=30    high      no     excellent            no
2   31-40    high      no          fair           yes
3     >40  medium      no          fair           yes
4     >40     low     yes          fair           yes
5     >40     low     yes     excellent            no
6   31-40     low     yes     excellent           yes
7    <=30  medium      no          fair            no
8    <=30     low     yes          fair           yes
9     >40  medium     yes          fair           yes
10   <=30  medium     yes     excellent           yes
11  31-40  medium      no     excellent           yes
12  31-40    high     yes          fair           yes
13    >40  medium      no     excellent            no

In [49]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            14 non-null     object
 1   income         14 non-null     object
 2   student        14 non-null     object
 3   credit rating  14 non-null     object
 4   buys computer  14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes
None

Compute Information Gain based on student attribute

In [50]:
target = df['buys computer'].value_counts()
# student= df['student'].value_counts()
tar_yes = target.yes
tar_no = target.no
tar_all = tar_yes + tar_no

In [51]:
Target = -(tar_yes/tar_all)*np.log2(tar_yes/tar_all) - (tar_no/tar_all)*np.log2(tar_no/tar_all)
print(Target)

0.9402859586706311

In [64]:
student = df['student'].value_counts()
student_no= student.no
student_yes= student.yes

yes_count = df[df['student'] == 'yes']['buys computer'].value_counts()
no_count = df[df['student'] == 'no']['buys computer'].value_counts()

print(yes_count, no_count)
#print(high_count)

buys computer
yes    6
no     1
Name: count, dtype: int64 buys computer
no     4
yes    3
Name: count, dtype: int64

In [53]:
yes = -(yes_count['yes']/student_yes)*np.log2(yes_count['yes']/student_yes) - (yes_count['no']/student_yes)*np.log2(yes_count['no']/student_yes)
no = -(no_count['yes']/student_no)*np.log2(no_count['yes']/student_no) - (no_count['no']/student_no)*np.log2(no_count['no']/student_no)

In [54]:
entro_student = (student_yes/tar_all)*yes + (student_no/tar_all)*no
entro_student

0.7884504573082896

In [58]:
gain = Target - entro_student

In [56]:
print('Gain (Student)' , gain)

Gain (Student) 0.15183550136234159

Compute Information Gain based on credit rating attribute

In [60]:
target = df['buys computer'].value_counts()
# credit_rating  = df['credit rating'].value_counts()
tar_yes = target.yes
tar_no = target.no
tar_all = tar_yes + tar_no

In [69]:
Target = -(tar_yes/tar_all)*np.log2(tar_yes/tar_all) - (tar_no/tar_all)*np.log2(tar_no/tar_all)
print(Target)

0.9402859586706311

In [81]:
credit_rating  = df['credit rating'].value_counts()
credit_rating_excellent= credit_rating.excellent
credit_rating_fair= credit_rating.fair

excellent_count = df[df['credit rating'] == 'excellent']['buys computer'].value_counts()
fiar_count = df[df['credit rating'] == 'fair']['buys computer'].value_counts()

print(excellent_count, fiar_count)
#print(high_count)

buys computer
no     3
yes    3
Name: count, dtype: int64 buys computer
yes    6
no     2
Name: count, dtype: int64

In [82]:
excellent = -(excellent_count['yes']/credit_rating_excellent)*np.log2(excellent_count['yes']/credit_rating_excellent) - (excellent_count['no']/credit_rating_excellent)*np.log2(excellent_count['no']/credit_rating_excellent)
fair = -(fiar_count['yes']/credit_rating_fair)*np.log2(fiar_count['yes']/credit_rating_fair) - (fiar_count['no']/credit_rating_fair)*np.log2(fiar_count['no']/credit_rating_fair)

In [86]:
entro_credit_rating = (credit_rating_excellent/tar_all)*excellent + (credit_rating_fair/tar_all)*fair

In [85]:
gain = Target - entro_credit_rating
print('Gain (Credit Rating)' , gain)

Gain (Credit Rating) 0.04812703040826949

Construct a decision tree using the algorithm